In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv('/content/sonar data.csv',header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [ ]:
data.shape

(208, 61)

In [ ]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [ ]:
X=data.drop(60,axis=1)
Y=data.iloc[:,-1]

In [ ]:
Y.value_counts()

M    111
R     97
Name: 60, dtype: int64

In [ ]:
Scaler = MinMaxScaler()
X=Scaler.fit_transform(X)

In [ ]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,random_state=1,test_size=0.1,stratify=Y)

In [ ]:
print(X.shape,Xtrain.shape,Xtest.shape)

(208, 60) (187, 60) (21, 60)

In [ ]:
model=LogisticRegression()
model.fit(Xtrain,Ytrain)
prediction=model.predict(Xtest)

In [ ]:
print('Training Set Accuracy:',model.score(Xtrain,Ytrain))

Training Set Accuracy: 0.8770053475935828

In [ ]:
print('Testing Set Accuracy:',model.score(Xtest,Ytest))

Testing Set Accuracy: 0.7619047619047619

In [ ]:
# To check the accuracy of model, through accuracy_model library, but this can be done by model.score also
from sklearn.metrics import accuracy_score
Xtrain_prediction=model.predict(Xtrain)
training_data_accuracy=accuracy_score(Xtrain_prediction,Ytrain)

In [ ]:
training_data_accuracy

0.8770053475935828

In [ ]:
Xtest_prediciton=model.predict(Xtest)

In [ ]:
Xtest_prediction=model.predict(Xtest)
testing_data_accuracy=accuracy_score(Xtest_prediction,Ytest)
testing_data_accuracy

0.7619047619047619

In [ ]:
# the input_data is copied from the notepad (as done by youtube)
input_data=(0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0.1609,0.1582,0.2238,0.0645,0.0660,0.2273,0.3100,0.2999,0.5078,0.4797,0.5783,0.5071,0.4328,0.5550,0.6711,0.6415,0.7104,0.8080,0.6791,0.3857,0.1307,0.2604,0.5121,0.7547,0.8537,0.8507,0.6692,0.6097,0.4943,0.2744,0.0510,0.2834,0.2825,0.4256,0.2641,0.1386,0.1051,0.1343,0.0383,0.0324,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032)
numpy_array=np.array(input_data)
predicted_value=model.predict(numpy_array.reshape(1,-1))
print(predicted_value)

['R']

In [ ]:
def Prediction(row):
 prediction=model.predict(X[row].reshape(1,-1))
 if prediction[0]=='M':
   print('Mine')
 else:
    print('Rock')

 print(prediction)

In [ ]:
Prediction(153)

Mine
['M']

In [ ]:
# just to check wether the accuracy will increase or not therefore try another model also
from sklearn.linear_model import LogisticRegressionCV

In [ ]:
model = LogisticRegressionCV(cv = 5,max_iter=1000)
model.fit(Xtrain, Ytrain)
print(" Testing Accuracy : ", model.score(Xtest, Ytest))

 Testing Accuracy :  0.7619047619047619

In [ ]:
# Again use Grid search to take the best estimator for accuracy to be increased.
from sklearn.model_selection import GridSearchCV

parameter_grid = {
    'penalty' : ['l2', 'none'],
    'C' : np.arange(0.2, 1.2, 0.2),
    'solver' : ['newton-cg', 'lbfgs', 'sag', 'saga'], # optimizers
    'max_iter' : [100,200,500,100]
}

grid_search_obj = GridSearchCV(estimator = LogisticRegression(), param_grid = parameter_grid)
grid_search_obj.fit(Xtrain,Ytrain) # run logistic regression on 192 combinations

In [ ]:
best_model = grid_search_obj.best_estimator_
print(" Best Parameter Combination : ", grid_search_obj.best_params_)

 Best Parameter Combination :  {'C': 0.4, 'max_iter': 100, 'penalty': 'l2', 'solver': 'saga'}

In [ ]:
model=LogisticRegression(C=0.4,max_iter=100,penalty="l2",solver="saga")

In [ ]:
model.fit(Xtrain,Ytrain)
model.score(Xtest,Ytest)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_sag.py:352: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.7619047619047619

# ***NOTE***
The accuracy is still same even after using the logisticregressionCV and gridsearch, as it is possible also to be same

In [ ]:
from sklearn.svm import SVC

In [ ]:
# The accuracy has increased here
model=SVC()
model.fit(Xtrain,Ytrain)
model.score(Xtest,Ytest)

0.8095238095238095